{{- if and .Values.postgres.enabled (not .Values.postgres.external.enabled) }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: postgres-config
data:
  POSTGRES_DB: {{ .Values.postgres.credentials.database }}
{{- end }}
